<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="content/style.css" />

    <title>JSON Viewer</title>
</head>
<body>

<div class="container app">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control base-dir" readonly="readonly" placeholder="" />
        </div>
        <div class="col-md-3">
            <div style="position: relative">
                <input type="text" class="form-control file-path" placeholder="File name" />
                <span class="loader" style="display: none"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="btn btn-info show-file">Show</div>
            <button class="btn btn-success save" style="display: none">Save</button>
        </div>
    </div>

    <div class="content">

    </div>
</div>

<div class="modal modal-confirm " id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success confirm-yes">Yes</button>
                <button type="button" class="btn btn-info confirm-no">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="tpl-table">
    <p class="lead">version: <span class="version"><%=version%></span></p>
    <table class="table table-hover table-xs">
        <thead>
        <tr class="row m-0">
            <th class="col-md-1"><span class="sortable" data-field="observation_id">ID</span></th>
            <th class="col-md-2"><span class="sortable" data-field="date_from">date_from</span></th>
            <th class="col-md-2"><span class="sortable" data-field="date_to">date_to</span></th>
            <th class="col-md-2"><span class="sortable" data-field="control.testid">control.testid</span></th>
            <th class="col-md-2">
                experiments
                <small class="form-text text-muted">comma separated</small>
            </th>
            <th class="col-md-3">
                tags
                <small class="form-text text-muted">comma separated</small>
            </th>
        </tr>
        </thead>
        <tbody class="items"></tbody>
    </table>
</script>

<script type="text/template" id="tpl-table-items">
    <% _.each(observations, function(o) {%>
            <tr class="row m-0 data-row">
                <td class="col-md-1">
                    <span class="data-item id" contenteditable="true"><%=o.observation_id %></span>
                </td>
                <td class="col-md-2">
                    <span class="data-item date_from" contenteditable="true"><%=o.date_from %></span>
                </td>
                <td class="col-md-2">
                    <span class="data-item date_to" contenteditable="true"><%=o.date_to %></span>
                </td>
                <td class="col-md-2">
                    <span class="data-item control" contenteditable="true"><%=o.control.testid %></span>
                </td>
                <td class="col-md-2">
                    <span class="data-item experiments" contenteditable="true">
                        <%= _.reduce(o.experiments, function(result, item) {
                            return result + (result ? ', ' : '') + item.testid;
                        }, '') %>
                    </span>
                </td>
                <td class="col-md-3">
                    <span class="data-item tags" contenteditable="true">
                        <%=o.tags.join(', ')%>
                    </span>
                </td>
            </tr>
    <%})%>
</script>

<script
        src="//code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
        crossorigin="anonymous"></script>

<script src="//unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>

<script src="content/notify.js"></script>
<script src="content/script.js"></script>

</body>
</html>