body {
    font-size: 14px;
}
.app {
    padding-top: 20px;
}
.alert {
    padding: 7px 20px;
}
.alert [data-notify="message"] {
    font-size: 14px;
}
.alert-info, .alert-warning {
    color: black;
    background-color: white;
    border-color: #aaa;
}
.alert-warning {
    color: #c00;
}
.content {
    margin-top: 20px;
}
.modal-backdrop {
    opacity: .7;
}

.alert > button {
    outline: none;
}
.loader {
    position: absolute;
    right: -15px;
    top: 4px;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 30px;
    background: url(loader.gif) no-repeat;
    background-size: auto 100%;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus {
    color: #444;
    background-color: transparent;
    border-color: #aaa;
}
.btn-info:hover {
    color: #000;
    border-color: #000;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:not(:disabled):not(.disabled):active {
    color: black;
    background-color: #FFDA00;
    border-color: #FFDA00;
}
.btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus {
    color: #777;
    background-color: #ffe866;
    border-color: #ffe866;
}
.ui-menu .ui-menu-item-wrapper {
    padding: 8px 10px 8px 10px;
}
.ui-widget-content {
    color: #777;
}
.ui-autocomplete {
    max-height: 200px;
    overflow: scroll;
}
table {
    font-size: 13px;
}
th {
    color: #aaa;
}
th .sortable {
    cursor: pointer;
    border-bottom: 1px dotted #aaa;
}
th .sortable.active {
    color: black;
    border-color: black;
}
th .sortable.active.sort-arrow {

}